/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-weight: 400;
    font-family:"Bruno Ace SC"
,serif;
    line-height: 1.5;
}

a{
    display: inline-block;
    text-decoration: none;
    color:inherit;
}

img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
 }

.container{
    margin: 0 auto;
    width: 1296px;
}

/* page */
.header{
    background: #000;
}
.head-list{
    color:#D1D1D1;
    padding: 40px 0;
}

.header-desc{
    width: 636px;
}

.banner-desc span{
    display: block;
    text-align: right;
}

.intro{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
    padding: 160px 312px; 
}
.intro-text{
    width: 526px;
    color: white;   
    font-size: 24px; 
}

.intro-decor{
    gap: 24px;
    margin-left: 24px;
}

.about-list ol{
    width: 636px;
    gap: 24px;
}
.about-list li{
    width: calc(50% - 12px);
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0px #00000014;
    
}
.about-text{
    width: 526px;
    padding: 160px 0;
}

.contact{
    background:linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.contact-me{
    padding: 127px 0;
}

.contact-list{
    padding: 96px 0;
    gap: 20px;
}
.contact-btn{
    border-radius: 40px;
    box-shadow: 4px 4px 8px 0px #00000014;
    
}
.contact-btn:hover{
    box-shadow: 0px 0px 16px 3px #9094FFE5;
    transition: 1s;
}

.project{
    padding: 160px 0;
}

.my-project{
    display: block;
    text-align: right;
}

.project-decor1{
    width: 856px;
}

.footer{
    background: #000;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 40px 0;
}

/* items */

.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.jc-sa{
    justify-content: space-around;
}
.jc-fe{
    justify-content: flex-end;
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}

.ai-e{
    align-items: end;
}

.btn-white{
    color: #000;
    background: white;
    border-radius: 32px;
    padding: 12px 24px;
    font-size: 16px;
}
.btn-black{
    color: white;
    background: #000;
    border-radius: 32px;
    padding: 12px 24px;
    font-size: 16px;
}

/* text */
.white-color{
    color:white
}
.pri-color{
    color: #00FFA3;
}

.h1{
    font-size: 128px;
}
.typography{
    font-size: 64px;
}
.h2{
    font-size: 40px;
}
.fs-1{
    font-size: 32px;

}
.fs-2{
    font-size: 24px;
}
.fs-3{
    font-size: 20px;
}

.fs-4{
    font-size: 16px;
}

.mr-4{
    margin-right: 16px;
}
.mr-6{
    margin-right: 24px;
}

.ta-r{
    text-align: right;
}

.mb-4{
    margin-bottom: 16px;
}
.mb-7{
    margin-bottom: 28px;
}
.mb-8{
    margin-bottom: 32px;
}
.mb-9{
    margin-bottom: 36px;
}

